<% @transactions.each do |transaction| %>
	<div class="modal fade" id="edit-item-<%=transaction.id%>" tabindex="-1" role="dialog" aria-labelledby="new-itemLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Edit Transaction <%=transaction.name%></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        
		      <%= form_for transaction, :html => { :id => "new_item", :class => "form-group"} do |f| %>
		      	<div class="form-group">
					<label for="name" class="form-control-label">Name</label>
					<%= f.text_field 'name', class: "form-control" %>
		      	</div>
		      	<div class="form-group">
					<label for="amount" class="form-control-label">Amount</label>
					<%= f.number_field 'amount', class: "form-control", :onchange => "setTwoNumberDecimal(this)", :step => 0.01, placeholder: "0.00" %>
		      	</div>
		      	<div class="form-group">
		      		<label for="purchased" class="form-control-label">Date</label>
		      		<%= f.date_field 'purchased', class: "form-control", :value => Time.now.strftime('%Y-%m-%d') %>
		      	</div>
		      	<div class="form-group">
					<label for="description" class="form-control-label">Description</label>
					<%= f.text_area 'description', class: "form-control", placeholder: "Description of transaction" %>
		      	</div>
		      	<div class="form-group">
		      		<label class="form-control-label">Share cost with</label>
		      		<% current_user.roommates(@house.id).each do |roommate| %>
		      			<br>
		      			<label for=<%=roommate.email%> class="form-check-label">
		      				<%= check_box_tag 'sharers[]', roommate.id, (transaction.split_with_ids.include? roommate.id) %>
		      				<%=roommate.email%>
		      			</label>
		      		<% end %>
		      	</div>
		      	<%= f.hidden_field 'shared', value: true %>
		      	<%= f.hidden_field 'house_id', value: @house.id %>
		      	<%= hidden_field_tag 'item_id', transaction.id %>

	      </div>
	      <div class="modal-footer">
	      		<%= f.submit 'Edit Transaction', class: "btn btn-primary" %>
	        <% end %>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>