<% if @permission %>
	<h1>
		<%=@house.name%>
	</h1>
	<p>
		<%=@house.description%>
	</p>
	<h2>Members</h2>
	<% @members.each do |member| %>
		<p>
			<%=member.email%>	
		</p>
	<% end %>
	<h2>Transactions</h2>
	<% @transactions.each do |transaction| %>
		<p><%=transaction.name%> <%=transaction.current_user_share.amount%></p>
	<% end %>
<% end %>