<% if @permission %>
	<div class="well well-lg">
		<div class="row">
			<div class="col-md-6">
				<h1>
					<%=@house.name%>
					<br>
					<small>
						Member since <%=@membership.created_at.strftime("%B %d, %Y") %>
					</small>
				</h1>
				<p><%=@house.description%></p>
			</div>
			<div class="col-md-6">
				<h2>
					Balance:
					<small>
						<%=current_user.balance(@house.id)%>
					</small>
				</h2>
				<h2>Members</h2>
				<%= @members.map(&:email).join(', ') %>	
			</div>
		</div>
	</div>

	<h2>Transactions</h2>
	<!-- <div class="container"> -->
		<ul class="list-group row">
			<div class="col-md-12">
				<% @transactions.each do |transaction| %>
					<a class="list-group-item row item-area" id=<%=transaction.id%>>
						<span class="badge" id=<%=transaction.id%>>
							<% if current_user.owns(transaction.id) %>
								<button id="edit" data-toggle="modal" data-target="#edit-item-<%=transaction.id%>">
									<span class="glyphicon glyphicon-pencil" id=<%=transaction.id%>></span>
									<span class="sr-only">Edit Transaction <%=transaction.name%></span>
								</button>
							<% elsif transaction.find_share_of(current_user.id) %>
								<form action="/shares/<%=transaction.find_share_of(current_user.id).id%>">
									<button id="unshare" type="submit">
												<span class="glyphicon glyphicon-remove" id=<%=transaction.id%>></span>
												<span class="sr-only">Unshare Transaction <%=transaction.name%></span>
										
									</button>
									
								</form>
							<% else %>
								<%= form_for Share.new do |f|%>
									<button id="share" type="submit">
												<span class="glyphicon glyphicon-ok" id=<%=transaction.id%>></span>
												<span class="sr-only">Unshare Transaction <%=transaction.name%></span>
										
									</button>
									<%= f.hidden_field 'user_id', value: current_user.id %>
									<%= f.hidden_field 'item_id', value: transaction.id %>
								<% end %>
							<% end %>
						</span>
						<div class="col-sm-8 row" id=<%=transaction.id%>>
							<div class="col-md-8 col-sm-9 col-xs-6" id=<%=transaction.id%>>
								<%=transaction.name%>
							</div>
							<div class="col-md-4 col-sm-3 col-xs-4" id=<%=transaction.id%>>
								<%=transaction.find_share_of(current_user.id)? transaction.find_share_of(current_user.id).amount : 0%>
							</div>
						</div>
						<div class="item-info" id=<%=transaction.id%>>
							<br><hr>
							<div class="col-xs-8 row" id=<%=transaction.id%>>
								<div class="col-md-8 col-sm-9 col-xs-6" id=<%=transaction.id%>>
									<p id=<%=transaction.id%>>Purchased by</p>
									<p id=<%=transaction.id%>><%=transaction.owner.email%></p>
								</div>
								<div class="col-md-4 col-sm-3 col-xs-4" id=<%=transaction.id%>>
									<p id=<%=transaction.id%>>Total:</p>
									<p id=<%=transaction.id%>><%=transaction.amount%></p>
								</div>
							</div>
							<div class="col-xs-4" id=<%=transaction.id%>>
								<p id=<%=transaction.id%>>Split with <%=transaction.shares.count-1%> other people</p>
								<p id=<%=transaction.id%>><%=transaction.split_with(current_user.email)%></p>
							</div>
						</div>
					</a>
				<% end %>
				
			</div>
		</ul>
		
	<!-- </div> -->
	<button class="plus-sign" data-toggle="modal" data-target="#new-item">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true">
		</span>
		<span class="sr-only">Add Transaction</span>
	</button>

	<%= render "new_item_modal" %>
	<%= render "edit_item_modal" %>
<% end %>