<% current_user.houses.each do |house| %>
	<div class="modal fade" id="edit-house-<%=house.id%>" tabindex="-1" role="dialog" aria-labelledby="edit-house-<%=house.id%>" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Edit House</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        
		      <%= form_for house, :html => { :id => "edit_house", :class => "form-group"} do |f| %>
		      	<div class="form-group">
					<label for="name" class="form-control-label">Name</label>
					<%= f.text_field 'name', class: "form-control", value: house.name %>
		      	</div>
		      	<div class="form-group">
					<label for="description" class="form-control-label">Description</label>
					<%= f.text_area 'description', class: "form-control", value: house.description %>
		      	</div>
		      	<div class="form-group">
		      		<label for="rent_start" class="form-control-label">Rent Start Date</label>
		      		<%= f.date_field 'rent_start', class: "form-control", value: house.rent_start %>
		      	</div>

				<div class="form-group">
				    <%= f.label :photo, class: "form-control-label" %><br />
				    <%= f.file_field :photo, class: "form-control" %>
		      	</div>

		      	<div class="form-group">
					<label for="join_key" class="form-control-label">Join Key <small>password for other users to join your house</small></label>
					<%= f.text_field 'join_key', class: "form-control", value: house.join_key %>
		      	</div>
	      </div>
	      <div class="modal-footer">
<!-- 	      		<%= f.submit 'Update House', class: "btn btn-primary" %> -->
					<!-- <button type="submit" class="btn btn-default modal-button" data-dismiss="modal">Update House</button> -->
					<button type="button" class="btn btn-primary" onClick="document.getElementById('edit_house').submit();">Submit</button>
	        <% end %>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>